@mixin overlayAnimation($animationName) {
  @keyframes #{$animationName} {
    0% {
      top: -100%;
      transform: scale(0.02,0.015);
      border-radius: 50%;
    }
    50% {
      top: 10%;
      transform: scale(0.02,0.015);
      border-radius: 50%;
    }
    100% {
      top: 10%;
      transform: scale(1.5);
      border-radius: 0%;
    }
  }
}
@mixin flexPattern($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin desktopview($viewPorthWidth: 800px) {
  @media screen and (min-width: $viewPorthWidth) {
    @content;
  }
}
@mixin mobileview($viewPorthWidth: 800px) {
  @media screen and (max-width: $viewPorthWidth) {
    @content;
  }
}
