// primary colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
// Neutral colors
$lightGray: hsl(233, 8%, 62%);
$almostWhite: hsl(220, 16%, 96%);
$verycloseToWhite: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// gradient
$gradient: linear-gradient(45deg, hsl(136, 65%, 51%) 50%, hsl(192, 70%, 51%));
// page width
$pageWidth: 2000px;
