@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Public+Sans:ital,wght@0,300;0,700;1,400&display=swap");
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 10px hsl(233, 26%, 24%);
}
nav .buttons button {
  position: absolute;
  top: -150%;
}
nav .buttons .hamburger-btn {
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.5rem 0;
  transition: 1s;
  cursor: pointer;
}
nav .buttons .hamburger-btn div {
  height: 1px;
  background-color: black;
  transition: transform 0.5s, opacity 1s, margin 0.2s;
}
nav .buttons .hamburger-btn div:not(:nth-child(1)) {
  margin-top: 0.5rem;
}

.hamburger-btn:not(.clicked):hover div:nth-child(2) {
  margin-block: 10px;
}

.hamburger-btn.clicked {
  transform: rotate(-360deg);
}
.hamburger-btn.clicked div:nth-child(1) {
  transform: translateY(9px) rotate(-45deg);
}
.hamburger-btn.clicked div:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.clicked div:nth-child(3) {
  transform: translateY(-9px) rotate(45deg);
}

.navlinks-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  top: 250px;
  left: 150%;
  transform: translate(-50%, -50%);
  width: 90%;
  overflow: hidden;
  height: 20rem;
  border-radius: 5px;
  background-color: white;
  transition: 0.8s ease-in-out;
}
.navlinks-container a {
  color: hsl(233, 26%, 24%);
}
.navlinks-container a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-image: linear-gradient(45deg, hsl(136, 65%, 51%) 50%, hsl(192, 70%, 51%));
  display: block;
  border-radius: 5px;
  transform: scale(0, 1);
  margin-top: 0.5rem;
  transition: transform 0.5s ease-in-out;
}
.navlinks-container a:hover {
  color: hsl(136, 65%, 51%);
}
.navlinks-container a:hover::after {
  transform: scale(1);
}

.navlinks-container.appear {
  left: 50%;
  transition-delay: 0.8s;
  transition-duration: 0.5s;
}

.nav-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  top: -100%;
  transform: scale(0.025);
  transition: 1s;
  background-image: linear-gradient(to bottom, hsl(233, 26%, 24%), rgba(43, 183, 218, 0.2));
  z-index: 5;
}

.nav-overlay.open {
  animation-name: expand;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.nav-overlay.close {
  animation-name: reverse-expand;
  animation-direction: reverse;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

@keyframes expand {
  0% {
    top: -100%;
    transform: scale(0.02, 0.015);
    border-radius: 50%;
  }
  50% {
    top: 10%;
    transform: scale(0.02, 0.015);
    border-radius: 50%;
  }
  100% {
    top: 10%;
    transform: scale(1.5);
    border-radius: 0%;
  }
}
@keyframes reverse-expand {
  0% {
    top: -100%;
    transform: scale(0.02, 0.015);
    border-radius: 50%;
  }
  50% {
    top: 10%;
    transform: scale(0.02, 0.015);
    border-radius: 50%;
  }
  100% {
    top: 10%;
    transform: scale(1.5);
    border-radius: 0%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 8%, 62%);
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

.page-wrapper {
  position: relative;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
  color: hsl(233, 8%, 62%);
}

h1,
h2,
h3,
h4 {
  line-height: initial;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}

.hero-section {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  gap: 5.5rem;
}
.hero-section .hero-image {
  text-align: center;
}
.hero-section .hero-image img {
  width: 400px;
}
.hero-section .hero-text {
  text-align: center;
  width: 85%;
  margin: auto;
}
.hero-section .hero-text h1 {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: initial;
}
.hero-section .hero-text button {
  margin-top: 1.5rem;
}

button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  background-image: linear-gradient(45deg, hsl(136, 65%, 51%) 50%, hsl(192, 70%, 51%));
  background-position: bottom left;
  transition: 1s;
  color: hsl(0, 0%, 100%);
}

h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
}

button:hover {
  background-size: 200%;
  background-position: top right;
}

.icon-card-section {
  padding: 4rem 7.5%;
  background-color: hsl(220, 16%, 96%);
}
.icon-card-section .card-container {
  margin: auto;
  margin-top: 2rem;
}
.icon-card-section .card-container .card {
  padding: 1rem;
  position: relative;
}
.icon-card-section .card-container .card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  position: absolute;
  transform: scale(0);
  transform-origin: bottom left;
  top: 0;
  left: 0;
  transition: 1s ease-in-out;
}
.icon-card-section .card-container .card:hover::before {
  border-left: 2px solid hsl(136, 65%, 51%);
  border-bottom: 2px solid hsl(136, 65%, 51%);
  transform: scale(1);
}
.icon-card-section .card-container .card::after {
  content: "";
  width: 100%;
  height: 100%;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  position: absolute;
  transform: scale(0);
  transform-origin: top right;
  top: 0;
  right: 0;
  transition: 1s ease-in-out;
}
.icon-card-section .card-container .card:hover::after {
  border-top: 2px solid hsl(136, 65%, 51%);
  border-right: 2px solid hsl(136, 65%, 51%);
  transform: scale(1);
}

.card-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.card-container .card-title {
  font-size: 1.2rem;
}
.card-container .card {
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2rem;
  cursor: pointer;
}
.card-container .card .card-img {
  overflow: hidden;
  margin: auto;
  margin-bottom: 1rem;
  height: 200px;
  position: relative;
  text-align: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.card-container .card .card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  transition: 1s;
}
.card-container .card .card-img div {
  position: absolute;
  text-align: center;
  border-radius: inherit;
  top: 0;
  margin: 0;
  padding: 25%;
  height: inherit;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  transition: 1s;
}
.card-container .card .card-img div i {
  position: relative;
  opacity: 0;
  left: -30px;
  transition: 1s;
  font-size: 1.2rem;
}
.card-container .card .card-img:hover img {
  transform: scale(1.5);
}
.card-container .card .card-img:hover div {
  color: white;
  opacity: 1;
}
.card-container .card .card-img:hover div i {
  opacity: 1;
  left: 0;
}

.article-section {
  padding: 5rem 7.5%;
}
.article-section .card {
  text-align: left;
  background-color: hsl(0, 0%, 98%);
  transition: 1s;
}
.article-section .card .card-body {
  width: 80%;
  margin: auto;
}
.article-section .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 2px 10px hsl(233, 26%, 24%);
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding: 3rem 0;
}
footer a {
  transition: color 0.5s;
}
footer a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-image: linear-gradient(45deg, hsl(136, 65%, 51%) 50%, hsl(192, 70%, 51%));
  display: block;
  border-radius: 5px;
  transform: scale(0, 1);
  margin-top: 0.5rem;
  transition: transform 0.5s ease-in-out;
}
footer a:hover {
  color: hsl(136, 65%, 51%);
}
footer a:hover::after {
  transform: scale(1);
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
footer .container .images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
footer .container .images .logo img {
  background-color: white;
}
footer .container .images .social-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
footer .container .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
footer .container .links .collection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
footer .other {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
footer .other > a::after {
  transform: scale(0);
}

@media screen and (min-width: 700px) {
  .navlinks-container {
    width: 50%;
  }
  .icon-card-section,
  .article-section {
    padding-inline: 20%;
  }
}
@media screen and (min-width: 750px) {
  nav .buttons button {
    position: initial;
  }
  nav .buttons .hamburger-btn {
    position: absolute;
    top: -100%;
  }
  nav .navlinks-container {
    position: initial;
    height: auto;
    transform: translate(0, 0);
    flex-direction: row;
    flex-basis: 40%;
  }
  .nav-overlay.open {
    animation-name: reverse-expand;
    animation-direction: reverse;
    animation-duration: 1.5s;
  }
  .hero-section {
    flex-direction: row-reverse;
    background-image: url("../images/bg-intro-desktop.svg");
    justify-content: space-around;
    background-size: 60%;
    width: 90%;
    margin-left: 10%;
    padding: 5rem 0;
    gap: auto;
  }
  .hero-section .hero-image {
    width: 90%;
  }
  .hero-section .hero-image img {
    position: absolute;
    align-self: start;
    top: 7%;
    right: -5%;
    transform: scale(1.15);
  }
  .hero-section .hero-text {
    text-align: left;
    margin-top: 5%;
    max-width: 35%;
  }
  h2 {
    text-align: left;
  }
  .icon-card-section,
  .article-section {
    padding-inline: 2%;
  }
  .card-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .card-container .card {
    text-align: left;
  }
  .icon-card-section p {
    width: 50%;
  }
  .icon-card-section .card-container .card {
    padding-inline: 2%;
  }
  .icon-card-section .card-container .card p {
    width: initial;
  }
  footer .container {
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
  }
  footer .container .links {
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 30%;
  }
}
@media screen and (min-width: 900px) {
  .hero-section .hero-image img {
    top: 5%;
    right: 2%;
    transform: scale(1.6);
  }
}
.disappear {
  opacity: 0;
}
.disappear * {
  opacity: 0;
}
.disappear.hero-section {
  opacity: 0;
  position: relative;
}
.disappear.hero-section .hero-image img {
  right: -30%;
}
.disappear.hero-section .hero-text {
  transform: translateX(-100%);
}
.disappear.icon-card-section .card-container .card {
  transform: translateX(-50%);
}
.disappear.article-section .card-container .card {
  transform: rotateX(45deg);
}

.appear {
  opacity: 1;
}
.appear * {
  transition: 1.5s;
  opacity: 1;
}
.appear.hero-section .hero-text {
  position: relative;
  transform: translateX(0%);
  transition: 1s;
}
.appear.hero-section .hero-image img {
  position: absolute;
  transition: 1s;
  right: -5%;
}
@media screen and (max-width: 800px) {
  .appear.hero-section .hero-image img {
    position: relative;
    right: 0%;
  }
}
@media screen and (min-width: 900px) {
  .appear.hero-section .hero-image img {
    right: 2%;
  }
}
.appear.icon-card-section .card-container .card {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}
.appear.icon-card-section .card-container .card:nth-of-type(1) {
  transition-delay: 0.2s;
}
.appear.icon-card-section .card-container .card:nth-of-type(2) {
  transition-delay: 0.4s;
}
.appear.icon-card-section .card-container .card:nth-of-type(3) {
  transition-delay: 0.6s;
}
.appear.icon-card-section .card-container .card:nth-of-type(4) {
  transition-delay: 0.8s;
}
.appear.article-section .card-container .card {
  transition: 2s;
  transform: rotateX(0);
}
.appear.article-section .card-container .card:nth-of-type(1) {
  transition-delay: 0.2s;
}
.appear.article-section .card-container .card:nth-of-type(2) {
  transition-delay: 0.4s;
}
.appear.article-section .card-container .card:nth-of-type(3) {
  transition-delay: 0.6s;
}
.appear.article-section .card-container .card:nth-of-type(4) {
  transition-delay: 0.8s;
}/*# sourceMappingURL=style.css.map */